In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
car = pd.read_csv("car_evaluation.csv")

In [3]:
car.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [4]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
vhigh      1727 non-null object
vhigh.1    1727 non-null object
2          1727 non-null object
2.1        1727 non-null object
small      1727 non-null object
low        1727 non-null object
unacc      1727 non-null object
dtypes: object(7)
memory usage: 94.5+ KB

In [5]:
car.describe()

       vhigh vhigh.1     2   2.1 small   low  unacc
count   1727    1727  1727  1727  1727  1727   1727
unique     4       4     4     3     3     3      4
top     high    high     3  more   med  high  unacc
freq     432     432   432   576   576   576   1209

In [9]:
car.rename(columns = {'vhigh':'buying','vhigh.1':'maintenance','2':'doors','2.1': 'person','small':'lugg','low':'safety','unacc':'class'},inplace=True)

In [11]:
car.head()

  buying maintenance doors person   lugg safety  class
0  vhigh       vhigh     2      2  small    med  unacc
1  vhigh       vhigh     2      2  small   high  unacc
2  vhigh       vhigh     2      2    med    low  unacc
3  vhigh       vhigh     2      2    med    med  unacc
4  vhigh       vhigh     2      2    med   high  unacc

In [12]:
from sklearn import preprocessing

In [13]:
le = preprocessing.LabelEncoder()

In [24]:
car['buying']=le.fit_transform(car['buying'])

In [25]:
le.classes_

array([0, 1, 2, 3], dtype=int64)

In [26]:
car.head()

   buying  maintenance doors person   lugg safety  class
0       3            3     2      2  small    med  unacc
1       3            3     2      2  small   high  unacc
2       3            3     2      2    med    low  unacc
3       3            3     2      2    med    med  unacc
4       3            3     2      2    med   high  unacc

In [27]:
le1 = preprocessing.LabelEncoder()

In [28]:
car['maintenance']=le1.fit_transform(car['maintenance'])

In [29]:
le1.classes_

array([0, 1, 2, 3], dtype=int64)

In [30]:
le2 = preprocessing.LabelEncoder()

In [31]:
car['lugg']=le1.fit_transform(car['lugg'])

In [32]:
le3 = preprocessing.LabelEncoder()

In [33]:
car['safety']=le1.fit_transform(car['safety'])

In [34]:
le3 = preprocessing.LabelEncoder()

In [49]:
le4 = preprocessing.LabelEncoder()

In [48]:
le5 = preprocessing.LabelEncoder()

In [52]:
car['class']=le4.fit_transform(car['class'])

In [53]:
car['doors']=le1.fit_transform(car['doors'])

In [54]:
car['person']=le5.fit_transform(car['person'])

In [55]:
car.head()

   buying  maintenance  doors  person  lugg  safety  class
0       3            3      0       0     2       2      2
1       3            3      0       0     2       0      2
2       3            3      0       0     1       1      2
3       3            3      0       0     1       2      2
4       3            3      0       0     1       0      2

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
X = car.drop('class',axis=1)
y = car['class']

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [59]:
from sklearn.tree import DecisionTreeClassifier

In [60]:
dtree = DecisionTreeClassifier()

In [62]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [63]:
predictions = dtree.predict(X_test)

In [64]:
from sklearn.metrics import classification_report,confusion_matrix

In [65]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          0       0.98      0.93      0.95       136
          1       0.96      1.00      0.98        22
          2       0.98      0.99      0.99       345
          3       1.00      0.94      0.97        16

avg / total       0.98      0.98      0.98       519

In [66]:
print(confusion_matrix(y_test,predictions))

[[127   1   8   0]
 [  0  22   0   0]
 [  2   0 343   0]
 [  1   0   0  15]]

In [67]:
#Random forrest

In [68]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [69]:
rfc_pred = rfc.predict(X_test)

In [70]:
print(classification_report(y_test,rfc_pred))

             precision    recall  f1-score   support

          0       0.95      0.89      0.92       136
          1       0.77      0.77      0.77        22
          2       0.97      1.00      0.98       345
          3       1.00      0.94      0.97        16

avg / total       0.96      0.96      0.96       519

In [71]:
print(confusion_matrix(y_test,rfc_pred))

[[121   5  10   0]
 [  5  17   0   0]
 [  1   0 344   0]
 [  1   0   0  15]]